*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'Roboto Mono', monospace;

}

footer{
    background: lightslategray;
    width:90vw;
    margin:auto;
    min-height:5vh;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

header{
    display:flex;
    width:90%;
    height:10vh;
    margin:auto;
    align-items: center;
    margin-bottom: 5vh;
    
}

header img, .cart img{
    width:70%;
}

.logo-container, 
.nav-links,
.cart
{
    display:flex;
}


.logo-container{
    flex:1;
    flex-direction: column;
    margin-top:15px;
    align-items: center;
    margin-top:35px;

}
.logo{
    margin:5px;
    font-weight: 400;
}

nav {
    flex: 2;
}
.cart{
    flex:1;
    justify-content: flex-end;
}

#menu{
    list-style: none;
    justify-content: space-around;
}

.nav-link{
    text-decoration: none;
    color:#5f5f79;
    font-size:1.1em;
}

section{
    display: flex;
}

.copertina{
    margin:10px;
    margin:auto;
}

.copertina img{
    width:90vw;
    height: 50vh;
    object-fit: cover;
}

.text{
    position: absolute;
    margin:1em;
    text-shadow: 2px 2px black;
    color:rgb(67, 182, 86);
    font-size:3em;
    width:50%;
    overflow: hidden;
}

.team{
    object-fit: cover;
    object-position: 0 60%;
}

.section {
    width:90%;
    display: flex;
    margin:auto;
    justify-items: center;

}

.row{
    display:flex;
    flex:1;
    width:100%;
}

.descr {
margin:15px;
padding:2em;
}

.img img{
    width:30vw;
    border-radius: 20px; 
    border:2px dashed black; 
    margin:5%;  
    }

.img img:hover{
    animation: animfig 2s ease-in-out;
}

.prices{
    width:90%;
    margin:auto;

}

.col{
    display:flex;
    flex-direction: column;
    flex:1;
    background: linear-gradient(to right, rgb(209, 209, 209), rgb(231, 231, 231));
    border-radius: 25px;
    padding:35px;
    min-height:90%;
    margin:10px;
}

.prices ul {
 /* list-style: none; */
 font-weight: 500;
 line-height: 1.5em;
 padding:1.5em 1em 1em 2.5em;
 /* margin-bottom:1.5em; */
}


.order-btn{
    padding:10px;
    /* margin:20px; */
    font-weight: 500;
    font-size: medium;
    background: rgb(58, 196, 88);
    color:#ffffffda;
}

.cta{
    align-self: center;
}

.order-btn:hover{
    cursor: pointer;
}

.hide {
    display:none!important;
    
}
 #mobile-icon{
     display: none;
 }

/* RESET NAVBAR FOR DESKTOP */
@media (min-width:700px){
    #menu-mobile{
        display:none!important;
    }
}
/* MOBILE FRIENDLY */
 @media screen and (max-width:700px){
  
    #mobile-icon{
        z-index: 3;
        display: block;
        position:fixed;
        top:15px;
        background: white;
        padding:10px 5px;
        border-radius: 5px;
        border:1px solid black;
        cursor:pointer;
    
    }

    .rotated{
        transform: rotate(90deg);
        transition: transform 1s;
    }

    #cart{
        display:none;
    }
    #menu {
        display: none;
    }
    #menu-mobile{
        flex-direction: column;
        display:block;
        background:rgba(234, 234, 234, 0.9);
        border:1px solid grey;
        border-right:none;
        line-height: 2.5em;
        padding:15% 10% 10% 10%;
        position:fixed;
        right:0;
        top:-5px;
        min-width:30vw;
        z-index: 3;
        font-weight: 800;
        margin-top: 10px;
        list-style: none;
    }
    #menu-mobile a:hover{
        text-decoration-line: underline;
        

    }
    footer{
            position:fixed;
            bottom:0;
            width:100%;
            font-size:0.7em;
    }

    header{
        margin-top:10px;
    }

    .logo-container{
        margin:0;
    }

    .text{
         font-size:1.5em;
     }

     .logo{
         display:none;
     }
   
    .row{
        flex-direction: column;
        align-items: center;

    }
    .col{
        min-width:70vw;
        
    }
    .col:last-child{
        margin-bottom:100px;

    }

    .img img{
         width:50vw;
         flex-direction: center;
    }

    .img:nth-child(1){
        order: 1;
    }

    
} /* END OF MOBILE FRIENDLY */

@media (max-width:568px){
    .col{
        height:auto!important;
    }

}


/* EFFECTS */

 @keyframes animfig {
     0%{
        transform: rotate(-3deg);
     }
     50%{
         transform: rotate(3deg);
     }
 }